<div class="row">
  <div class="span12">
    <!-- Main hero unit for a primary message or call to action -->
   <div class="hero-unit">
<!--     <div class="row">
      <div class="span10">
        <h1 align="center">Nymote</h1>
        <br />
        <br />
      </div>
    </div> -->
    <div class="row">
      <div class="span5">
        <img src="/images/cloudHouse.jpg">
      </div>
      <div class="span5">
        {{ content }}
      </div>
     
     </div>
   </div>
<!-- 
  <div class="row">
    <div class="span4">
      <span style="color:gray">Define Problem</span>
    </div>
    <div class="span4">
      <span style="color:gray">Describe Signpost</span>
    </div>
    <div class="span4">
      <span style="color:gray">More Info?</span>
    </div>
  </div>
  -->
</div>

  <div class="row">
    <div class="span4">
      <div class="content">
        {% include under-hero1.html %}
      </div>  
    </div>
    <div class="span4">
      <div class="content">
        {% include under-hero2.html %}
      </div>  
    </div>
    <div class="span4">
      <div class="content">
        {% include under-hero3.html %}
      </div>  
    </div>
  </div>


</div>